.App {
  text-align: center;
}

@keyframes checkmark {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.animate-checkmark {
  animation: checkmark 0.5s ease-in-out;
}

@keyframes mail {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-mail {
  animation: mail 1s linear infinite;
}